body {
  margin:0px;
  font-family:'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
}

div {
  margin:0px;
}

.Screen_1 {
  background-color: #ffffff;
  width: 376px;
  height: 812px;
  margin-top: 0px;
  margin-left: 0px;
}

.Screen_1 .Label {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 513px;
  letter-spacing: 0;
  line-height: 1;
  width: 280px;
  height: 513px;
  margin-top: 132px;
  margin-left: 56px;
}


